.slide-down {
  animation: slide-down 600ms linear;
}

@keyframes slide-down {
  0% {
    scale: 0;
    transform: translateY(-200%);
  }
  50% {
    scale: 1;
    transform: translateY(-200%);
  }
}
